/* App.css */

/* Body style */
body {
  margin: 0;
  padding: 0;
}

/* Timer app container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://motionarray.imgix.net/preview-115740-q5MkX51CWD-high_0003.jpg?w=660&q=60&fit=max&auto=format');
  background-size: cover;
  background-position: center;
}

/* Timer container */
.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border-radius: 10px; */
  padding: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}

/* Timer display */
.timer {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #b71d1d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Button container */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

/* Timer control buttons */
.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  margin: 0.5rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

/* Hover effect for buttons */
.button:hover {
  background-color: #0056b3;
}

/* Reset button */
.reset-button {
  background-color: #dc3545;
}

/* Reset button hover effect */
.reset-button:hover {
  background-color: #c82333;
}

/* Pause button */
.pause-button {
  background-color: #ffc107;
}

/* Pause button hover effect */
.pause-button:hover {
  background-color: #e0a800;
}

/* Increment and decrement buttons */
.increment-button,
.decrement-button {
  background-color: #28a745;
}

/* Increment and decrement buttons hover effect */
.increment-button:hover,
.decrement-button:hover {
  background-color: #218838;
}
